#title {
  text-align: center;
}
#save {
  margin-top:2.5%;

}

#loginInfo {
  display:None;
}

#shareWith{
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: center;
}

#shareWithHeader
{
	display: inline-block;
}

#addAnotherEmail
{
	position: absolute; /* to prevent button from being considered in centering*/
}

#success, #failure {
  margin-top:10px;
}

body {
  padding: 0 5%;
  width:300px;
  background-color:#F5F5F5;
}
